<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Napelemrendszerek telepítését támogató rendszer</title>
</head>
<body style="background-color: lightblue">
    <div id="content" style="background-color: gray; border: 1px solid blue;  transition: top 0.3s; ">
        <h1>A rendszerfejlesztés korszerű módszerei projekt feladat</h1>
        <h2>Napelemrendszerek telepítését támogató rendszer</h2>
        <p>10-es csapat:</p>
        <ul style="background: #3399ff; padding: 20px; ">
            <li style="background: #cce5ff; color: darkblue; margin: 5px; ">Keresztúri Gergő</li>
            <li style="background: #cce5ff; color: darkblue; margin: 5px; ">Kozma Henrietta</li>
            <li style="background: #cce5ff; color: darkblue; margin: 5px; ">Balla Patrik Szabolcs</li>
            <li style="background: #cce5ff; color: darkblue; margin: 5px; ">Filotás Patrik</li>
        </ul>

        <h2>A rendszer használatára jogosult szerepkörök:</h2>
        <ul>
            {% for role in roles %}
            <li>{{role}}</li>
            {% endfor %}

        </ul>
</div>
</body>
</html>